[2021-09-08 15:17] ThibManfredi opened #1 "Production deployment error"
Hello !

I'm facing an issue regarding the rproduction deployment process

The deploy script failed after the check of the health of the application, there is the logs
[code]

There is the systemd logs:
[code]

And the logs with the exec made by systemd:
[code]

I'm trying to launch the application on an AWS VPS with ubuntu

Can you help me ? :)

[2021-09-10 11:36] Donorhan commented on #1
Thanks for the details, I managed to reproduce the problem and am on it :)

[2021-09-13 13:01] riderx opened #3 "Is mup necessary inside repo ?"
I can see on the source you use MUP with some improvement for lempire.

I was wandering why not create a repo for it, like a fork of mup, and do `npm i -g https://github.com/l3mpire/mup`

It will keep lempire smaller and allow people to use your fork, and let you get the lasted patch from the original team easily with a github action.

[2021-09-13 13:17] Donorhan commented on #1
I did a complete installation of lemverse on an Ubuntu VM. I didn't have the problem with @babel/runtime so I invite you to get the last commits, remove node_modules and package-lock and re-install.

I added the missing information about the Mongo configuration, without these modifications the project would'nt start.

I'm available on lemverse if you want to talk about it and get some help during

[2021-09-15 08:53] riderx commented on #3
For docker build i totally ignored the mup folder, do i miss something about it or I can go without it ?

[2021-09-16 07:22] DblK commented on #3
For the MUP folder inside docker there is no need, so that is perfect.
For creating a new repository for our version of mup, we currently have a monorepo so we won't make the effort to make a separate one as the one contained in this repo is slightly different from the one in our monorepo 😉 .

So no plan for now to move it away ^^

[2021-09-16 13:05] ThibManfredi commented on #1
Hello !

I've tried the fix regarding mongo for the production deployment part. It fix the problem that regarding babel/runtime in the start of the application thanks :)

I've got an another problem regarding the peer configuration, in the "settings.json" configuration file, I fill the peer.server.url with my personal https access for our lemverse. Do I need to configure something else regarding t

[2021-09-16 13:19] Donorhan commented on #1
Can you share your settings.json (without the sensitive data)?

[2021-09-16 13:21] ThibManfredi commented on #1
Yes of course

[code]

[2021-09-16 13:27] Donorhan commented on #1
The problem is that you have two peers at the same level, you need one in public and one outside (The one in public was missing)
[code]

[2021-09-17 07:30] riderx opened #13 "After open/close editor react don't work anymore"
How to reproduce (as admin) :
- open lemverse
- hit `1` reaction should be here
- open editor
- close editor
- hit `1` no reaction should apear
- reload
- hit `1` reaction should be here

[2021-09-17 07:33] #3 closed

[2021-09-17 07:40] riderx commented on #1
If you need i deployed it wwith docker-compose and docker : https://github.com/riderx/lemverse-deploy

[2021-09-17 08:54] Donorhan commented on #13
Thanks for your feedback! I just fixed that in my last commit

[2021-09-17 08:54] #13 closed

[2021-09-20 10:39] ThibManfredi commented on #1
Oh cool ! :) I'll try this !

I've got an another issue regarding the peer connection
[code]

Do I have a peer server to deploy in addition to lemverse ? or my configuration of the settings.json is wrong ?

There is my settings.json file
[code]

I've tried multiple settings in the peer.server scope but I can't make this error disapear

[2021-09-20 11:46] Donorhan commented on #1
On which browser do you have this error? This message exists when your browser tries to play a sound or use a media when you haven't interacted with the web page. Normally this is not a problem. I recently made a commit to work around this problem, if your version of lemverse is up to date you shouldn't see this message.

[2021-09-21 09:02] riderx opened #17 "Cannot connect on ipad"
Connect button is missing in ipad
![IMG_0346](https://user-images.githubusercontent.com/4084527/134143146-e1c13cbb-9be2-4708-95b8-c8f0c7881226.jpeg)

[2021-09-21 09:03] ThibManfredi commented on #1
I have this error on the chrome browser but it appear only I did my tests ! I no more have this log.

I had to deploy a peer-js server in addition to lemverse for make the communication betwwen user works, I didn't see this in the Readme, it could be good to add it ;)

Thanks for the help !

[2021-09-21 09:04] riderx opened #18 "Iphone button difficult to click"
When you are on mobile click to mic icon need to be done 10 time before working, it look touch event are not propagated to the right element

[2021-09-21 09:36] riderx commented on #1
@ThibManfredi on the setting you didn't change this ` "url": "<my_lemverse_domain>",` it should reflect your peer url, if you use lemverse in local it should be `http://localhost` or your domain where you deploy your lemverse .

[2021-09-21 09:37] riderx commented on #1
@ThibManfredi Lemverse run a peer server internally, but you can use external one as I did too .

[2021-09-21 09:58] ThibManfredi commented on #1
@riderx In the first place I use to fill the peer.server.url field with the domain of lemverse, but I always had a connection "WebSocket Connection failed" :/

I deploy peer-js server with tls certificate and specific server block in nginx

[2021-09-21 12:50] riderx commented on #1
@ThibManfredi are you on thr right endpoint if you deploy peer with docker the endpoint by default is `/myapp` for peer

[2021-09-22 09:22] ThibManfredi opened #21 "Audio and video doesn't work on safari 15"
Hello !

I have an error on Safari 15 with audio and video communication between users.

The error:
[code]

[2021-09-22 17:34] ThibManfredi opened #22 "Character sprite"
Hello !

We use characters sprite from itch.io, and we have to cut evey characters files in order to make them compatible to lemverse,

Do you have any tips in order to make this process a little bit less time consuming ?

A sprite base when we deploy lemverse regarding characters could be a good idea for next maj and improvments :)

[2021-09-22 19:30] Donorhan commented on #22
Personally I find that Phaser handles animations and Sprites very badly, having a Sprite that has animations seems absurd to me. An animation should be totally uncorrelated with a sprite, in the end it's just a matter of moving a rectangle on an image, no matter the image. This is the first problematic point for me.

The second point is the current management of the characters, we load the charact

[2021-09-23 16:41] riderx commented on #22
@Donorhan the unique url path look promising !
image magic can do the work you think ?

[2021-09-23 17:12] riderx commented on #1
just to let you know on dockerhub i build 2 version :
- latest => lemverse master branch
- next => lemverse + the changes I have made and are waiting to be merge

[2021-09-23 18:43] riderx commented on #21
I tryed i it work on my side, maybe it's more generic issue about peer.
@Donorhan did a lot of work on it lastly, can you try again ?

[2021-09-23 18:44] riderx commented on #17
The button is present we just need to scroll, so the point is to find why the height is wrong

[2021-09-23 19:13] riderx opened #23 "Missing audio volume"
We cannot chose the volume of our mic and the volume of the people we talk with . ( reported from user of indie verse)

[2021-09-23 21:11] riderx commented on #18
Fixed it https://github.com/l3mpire/lemverse/pull/24

[2021-09-23 23:12] riderx commented on #17
fixed : https://github.com/l3mpire/lemverse/pull/24

[2021-09-24 10:02] Donorhan commented on #23
That's right, I'll have to set up audio worklets for that. I had started to make one to detect the sound of the person speaking and highlight it.

[2021-09-24 10:03] Donorhan commented on #22
Yes image magic should be enough for that :)

[2021-09-24 10:04] Donorhan commented on #21
I tried on safari (v14) yesterday and I didn't have the problem.  I'll update it and see what happens

[2021-09-27 10:22] DblK opened #26 "Missing explanation of docker image"
Currently, on docker hub, we push the latest changes to tag `:latest` for everybody to use.
However, we are lacking some documentation on how to use this image (like environment variables, configurations files, etc..).

If someone wants to right is with different uses cases, it would be great.
We will add this information into the readme of this repo and add the relevant part to docker hub.

[2021-09-27 10:26] riderx commented on #22
@Donorhan i found the way to merge the image with gm
[code]
But I have no idea of how create API endpoint in meteor.
I will continue to investigate later

[2021-09-27 10:32] riderx opened #27 "Allow click on charater to show profile"
It can be great to allow user to share some details about them like :
- they name
- what they do
- they website
- they chat link ( slack username link, discord, whatapp)

[2021-09-27 13:41] riderx commented on #27
Done here : https://github.com/l3mpire/lemverse/pull/28

[2021-10-01 10:38] riderx commented on #26
I'm not sure it feat what you expect  but I made this one : https://github.com/l3mpire/lemverse/pull/30
Also it can be great for docker deploy to merge :
https://github.com/l3mpire/lemverse/pull/6 who will allow separate peer process

[2021-10-05 10:53] riderx opened #31 "Zone over zone don't work anymore"
Define a big zone and tiny one inside the big one like the picture :
<img width="321" alt="Screenshot 2021-10-05 at 11 51 57" src="https://user-images.githubusercontent.com/4084527/136009738-e677d906-6d66-48bd-b131-0b176a3b346a.png">
try to walk on the big one, you enter in it, try the tiny one, it's doesn't work.
it was working before and very useful to show info to user when they are in a zone

[2021-10-05 12:15] Donorhan commented on #31
I just tried on master I don't have the problem. Did you do anything in particular?
<img width="469" alt="Capture d’écran, le 2021-10-05 à 14 14 27" src="https://user-images.githubusercontent.com/3781087/136020262-c24db94f-78f7-4810-b5d6-54d932084dff.png">
<img width="666" alt="Capture d’écran, le 2021-10-05 à 14 14 51" src="https://user-images.githubusercontent.com/3781087/136020319-09e445ed-

[2021-10-05 13:43] riderx commented on #31
@Donorhan
here is my tiny zone for my pannel it uses inline URL:
[code]
and the big one have just name:
[code]

[2021-10-05 16:02] Donorhan commented on #31
Currently the zone detection depends on its creation order, I will apply a first fix but I'll have to work on a more elegant one later.

[2021-10-30 12:50] riderx opened #33 "As Editor you don't know tile props"
When hover a tile in the editor selection area we don't know if the tile has collision or in witch level it will be set .
<img width="1029" alt="Screenshot 2021-10-30 at 13 51 23" src="https://user-images.githubusercontent.com/4084527/139533507-93689b58-66c7-48b5-a037-375c1224dbd8.png">

For people who just start to learn it's difficult

[2021-11-04 08:09] DblK commented on #1
Closing because no more active.

[2021-11-04 08:09] #1 closed

[2021-11-04 08:10] DblK commented on #21
I will close the issue due to lack of activity.

[2021-11-04 08:14] DblK commented on #33
I do not see the point of knowing in which level it will be set. I will be added in the current level.
Talking about collision, it's all explain in the readme.
At some point, we will merge the current editor with the route `/editor`; doing so, you will be able to add tileset and edit collision in the same window.

[2021-11-05 08:01] DblK commented on #33
okay. So for collision, once placed on the screen, the user will know if it has collision or not.
It's the admin role to setup everything right (collisions, layer, etc...).

As for layer, the user should only place them. Same as collision if the admin has done its job it should be okay. If not, user can tell the admin to fix it.

If the user has done something bad, there is still the `cmd+z` short

[2021-11-05 14:14] riderx commented on #33
@DblK i agree user can place on the screen to see if that hae collision or not, but you cannot say it's user friendly.

I agree the role of the admin is to setup everything good,
We let `editor` select the tile level when they erase tile,
it sound weird to don't let `editor` know in wich level they will set the tile.

Please put yourself in the `editor` shoes, i got the feedback 5 time already, th

[2021-11-05 14:29] DblK commented on #33
![lemverse-editor](https://user-images.githubusercontent.com/832617/140526231-9a46e00e-f997-4635-bf9c-b87dfae03ceb.png)

As for editor, except collision (which should be obvious based on the tile), you already have the current layer `selected` and also on the tile, the list of existing tiles with their corresponding layers.

Am I missing something?

[2021-11-05 17:23] riderx commented on #33
@DblK you are right, i never saw `selected` exist.
I think that make the point more valuable, even power user miss it.

i will try to propose a new design to improve it.
For collision, i still think explicit will be better than implicit behavior.

[2021-11-08 08:13] #33 closed

[2021-11-08 10:20] #18 closed

[2021-11-08 10:20] #17 closed

[2021-11-09 13:20] apinto2-scc opened #37 "Be able to manage access to areas on app.lemverse.com"
Hello,

Thank you for your work the idea is really top! I am a fan. 💛💛💛

I was wondering if it is planned to have the ability to manage access to zones directly on https://app.lemverse.com/ without necessarily having to mount its own instance, for example with a list of user id or emails are allowed to enter the zone.

Have a nice day.

[2021-11-09 13:29] DblK commented on #37
Hi,
Thanks for your message.
For now, as per documentation, there is only a way to have admin zones which can be done only in your own instance.

We might be able to extend it, but could you tell me more about your use case? Maybe with the name of your own level or a link to it (via `Settings`->`Copy invitation link`)

[2021-11-09 13:32] mikeslaatsio opened #38 "Multiple scripts doesn't seem to work?"
Helpful video explaining and showing the issues: https://www.loom.com/share/649cf8d99260409a87226ba9c17379cc

I tried adding the same script to multiple/different zones. In the first zone, it works perfectly, all the other/new ones, it doesn't. Also, can you please provide me with a script for the pop-up message, I tried this one:

`{
  "adminOnly": "",
  "disableCommunications": false,
  "fullscr

[2021-11-09 13:38] apinto2-scc commented on #37
My use case is the following:

I would like to create a universe that represents my company, with a zone that would be a showroom, where we could also do public talks. And a space reserved for the employees of my company where only they can access.

Other :
We want to promote gamification in our company and through your product, I see a direct lever to propose it to employees.
Is your product inte

[2021-11-09 13:42] Donorhan commented on #38
Hi Mike, I just saw your email and tested in your level.

I'm not sure why yet but the coordinates of your zones were not correct, I drew the start and end position of your zones again and everything works now.

I also added a demo pop-in to show you how it works at the entrance of your level :)

[2021-11-09 13:58] mikeslaatsio commented on #38
Thanks for your help! Worked for one new pop up, but soon after that it stopped working already :( Am I doing something wrong? Here's how I create zones: https://www.loom.com/share/73c21ca605fa4d21b9beb5f085f74141

PS also struggling with the teleporter zone

[2021-11-09 21:34] mikeslaatsio commented on #38
Thank you so much! We're almost there.. only thing I'm struggling with is creating a teleporter to another level/world. When I do this:

`{
  "adminOnly": "",
  "disableCommunications": false,
  "fullscreen": false,
  "hideName": false,
  "inlineURL": "",
  "name": "Upvoty HQ Teleporter",
  "roomName": "Upvoty HQ",
  "targetedLevelId": "oJJMbaKzoCzmr8LAe",
  "teleportEndpoint": "",
  "unhide": "",

[2021-11-09 21:41] Donorhan commented on #38
You are missing "lvl_" in front of the target level id:
`"targetedLevelId": "lvl_oJJMbaKzoCzmr8LAe"`

[2021-11-09 22:12] mikeslaatsio commented on #38
Something really strange is happening if I do that.. https://www.loom.com/share/25c1cf0ce3df4b74ad8062f4e0e3067d (it's opening up the meeting room?)

[2021-11-10 07:53] mikeslaatsio commented on #38
Tried in in a different place, nothing happens? https://www.loom.com/share/fe63779786fb46cfb2ec5925dc067e2b

[2021-11-10 08:08] Donorhan commented on #38
Currently teleporters to the current level are not allowed.

For the first problem, you have to remove the "roomName" attribute or leave it empty, this attribute opens a Jitsi.

[2021-11-10 08:49] mikeslaatsio commented on #38
All good now! I actually used the wrong level id haha lol. Thanks for all your help!

[2021-11-10 09:24] mikeslaatsio commented on #38
PS: We've created a feedback portal where we'll gather feedback about Lemverse: https://lemverse.upvoty.com/b/feedback/. We even embedded this in our lobby: https://www.loom.com/share/fab15c723183447b98c25dc95893aa6e

Hopefully, we can get some nice feedback to improve the software. Feel free to embed it in your world as well, or maybe in the main lobby so other users can join and participate. If

[2021-11-11 08:31] mikeslaatsio commented on #38
People are leaving their feedback, there's some awesome stuff in it already, check: https://lemverse.upvoty.com/b/feedback/. Follow-mode is something that would be very useful! :)

[2021-11-17 14:18] DblK opened #39 "Contact popup displayed on click share-screen"
When you are viewing the screen of someone in full screen, to reduce it you need to click again on it.
However, if there is someone under the fullscreen view, it will trigger the contact popup display.

We should not bubble event on click.

[2021-11-22 13:12] Donorhan commented on #39
fix in [#disable phaser mouse events when an interface is open](https://github.com/l3mpire/lemverse/commit/05798942d65c65e097ab90368c02d36e83793864)

[2021-11-24 14:21] #39 closed

[2021-12-14 12:10] freddy-wtf opened #44 "Docker settings error"
I have a problem with the new release.

`2021-12-14T12:05:18.222634679Z Meteor.settings: lemverse.json cannot read file _FID0 {"err":{"errno":-2,"syscall":"open","code":"ENOENT","path":"/usr/local/etc/lemverse.json"}} Error: ENOENT: no such file or directory, open '/usr/local/etc/lemverse.json' Error: ENOENT: no such file or directory, open '/usr/local/etc/lemverse.json'`

[2022-01-05 19:15] #44 closed

[2022-01-06 08:00] DblK commented on #44
To let other knows, this log is not blocking for the launch of the app.
As stated in the readme, it's used serverside only to store your secret.

[2022-01-09 11:22] riderx commented on #22
@Donorhan your last change fix the itch issue i think it can be close

[2022-01-10 09:43] Donorhan commented on #22
Indeed, thank you!

[2022-01-10 09:43] #22 closed

[2022-02-28 13:54] fstn opened #45 "Ability to stay in the map as sleepy person"
HI It would be awesome that all the people can stay in Lemverse without keeping the page open.

For example the avatar woulmd have a Zzz on the side.
And would be awesome to be able to wake up a user (for example that would send a notification or email).

In that way new people in the Lemverse would never see an empty world

[2022-02-28 16:36] Donorhan commented on #45
Hello!

The idea is good, but it raises some problems. There are levels like lempire with more than 800 people disconnected in it, that would be a lot of inactive people on the screen.

As for seeing empty levels, I don't know if it's more frustrating to have an empty level than a level with people you can't interact with 😅

[2022-05-05 10:44] peernohell commented on #45
As a compromise we could show all disconnected user that are inactive for less than `Meteor.settings.respawnDelay`.
With this we will be able to send quest or message to offline user and avoid level with too much offline people that will never come back.
What do you think ?

[2022-06-08 13:51] TheOrionsB opened #48 "Unable to change category of character sprites after docker pull"
I can't seem to wrap my head around this one.

I have two instances of lemverse set up on two different servers (Instance A and Instance B using the docker-compose-prod example in this repo) and I wasn't able to change the category of character sprites (bought from itch.io) in Instance B, no problems on Instance A.

While trying to figure out what caused the issue, I `docker-compose pull`'ed insta

[2022-06-08 15:55] Donorhan commented on #48
Hi! I just committed a patch, sorry about that!

[2022-06-08 15:55] #48 closed

[2022-07-11 15:39] ramnes opened #53 "Can't run on Apple M1"
Lemverse depends on `fourseven:scss`, that depends on `node-sass`, that doesn't seem to be available for the Darwin ARM platform. `public/app/bin/run` gives:

[code]

[2022-07-14 13:48] ramnes opened #58 "Keep filenames when uploading tilesets"
When uploading tilesets, they get names such as `tis_ox8ux7ntwhReEPknW`. Renaming all tilesets is a pain, let's keep the original filenames instead, they are more likely to mean something.

[2022-07-14 14:33] ramnes opened #59 "Support animated assets"
LimeZu makes nice GIF assets, that would be great if we could add them to the editor somehow!

[2022-07-14 14:48] ramnes opened #60 "Remove characters files"
At the moment it's possible to remove tilesets but not characters files.

[2022-07-15 07:13] Donorhan commented on #59
Phaser doesn't support gif, the best is to be able to import sprite sheets and to have a customizable animation/state system. This is what I started to do with the entity system which is independent from the tilemap

[2022-07-15 07:15] Donorhan commented on #58
We preserve the name at the upload, we rely on the name to know if a tileset is already uploaded or not (the fileName attribute)

<img width="355" alt="Capture d’écran, le 2022-07-15 à 09 13 34" src="https://user-images.githubusercontent.com/3781087/179171725-b0072eef-ee79-458c-a59e-854d95604693.png">

[2022-07-15 08:23] ramnes commented on #60
Sounds quite doable. :)

Do you have a workaround in the meantime?

[2022-07-15 08:23] Donorhan commented on #58
I had misunderstood, indeed we can use `fileName`, it will be easier to find the last uploaded file 🙂

[2022-07-15 12:44] #58 closed

[2022-07-19 08:21] Donorhan commented on #31
Fixed in [this commit](https://github.com/l3mpire/lemverse/commit/d36187c91c92f5cfa8626d365106c55e8c173d17)

[2022-07-19 08:21] #31 closed

[2022-07-19 08:32] DblK commented on #38
Duplicate see #31

[2022-07-19 08:32] #38 closed

[2022-08-02 16:05] xsyann commented on #53
I ran into the same issue with Apple M1 chip and solved it using instructions found here: https://forums.meteor.com/t/fourseven-scss-package-problem-during-installation-node-sass-on-macos/58002/8

1. Using node 14.20.0 (`nvm use 14`)
2. Installing meteor using npm instead of curl (`npm install -g meteor`)

[2022-08-09 07:43] Donorhan opened #64 "Detecting network change"
## I'm submitting a ...

- [x] bug report
- [ ] feature request

## What is the current behavior?
When I change my wifi access point or switch to my phone's connection sharing, the PeerJS connection does not work anymore

## If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem
- Go on lemverse
- Try talking to someone, it should work

[2022-08-09 07:52] Donorhan opened #65 "Send a fake stream when a new connection is created"
## What is the current behavior?
Several actions are triggered when an user goes to talk to another user:
- PeerJS notifies the user B that the user A wants to talk to him
- The user B accepts or not the connection
- If the connection is established, getUserMedia is triggered and returns a stream to send to the other user A
- The user A is notified of a new connection and receives the stream from

[2022-08-09 07:55] Donorhan opened #66 "Avoid returning all notifications to the client"
## What is the current behavior?
Currently the logged in user is subscribed to all the notifications he has, which adds server load and unnecessary data on the client side.

It would be great to return in priority the unread notifications as well as the read ones in order to have only 20 notifications max.

## If the current behavior is a bug, please provide the steps to reproduce and if possible

[2022-08-09 08:00] Donorhan opened #67 "Detect device change during a chat"
## What is the current behavior?
When you talk to someone and connect a new device like a headset the stream sent to the remote user is not updated

## If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem
- Talk to someone
- Connect another device like a headset
- The other can't hear you anymore

## What is the expected behavior?
Th

[2022-08-09 08:52] Donorhan commented on #59
This is now possible with entities, I have put some documentation about this in the [Readme](https://github.com/l3mpire/lemverse#entity-edit)

[2022-08-09 08:52] #59 closed

[2022-08-09 13:31] AntoineKM opened #68 "Add"

[2022-08-09 14:11] AntoineKM commented on #68
Thanks @Donorhan, keep the idea of the PWA or discuss it, it could be interesting, easier to install and easier to maintain 😁

[2022-08-11 21:17] romainvalluy opened #70 "Being god to use /editor"
Prod deployement : I am a god in the settings.json.
I get "Error while changing category, only gods can do this" as I try to qualify  Hair styles in the character editor (/editor).
I can use the other functions with the tilsets (wall, floor, setting as wall or collision zone etc.)

[2022-08-16 17:34] ramnes commented on #53
It's weird that depending on how you installed Meteor you get this error or not... but yes, it works. :)

Thanks!

[2022-08-16 17:34] #53 closed

[2022-08-18 08:37] ramnes opened #73 "Disable registration"
If you want to use lemverse to host an event, you probably don't want users to be able to sign in by themselves.

We're thinking of adding an option in the settings to disable registration to that end. :)

[2022-08-18 08:53] ramnes opened #74 "Feature flags"
Except for the core of the app (i.e. people moving around and WebRTC being triggered when two people are close), it would be great if all features could be toggled, through the settings or in-app.

Things we may want to enable or disable:
- chat
- user settings (or parts of it)
- reactions
- kick
- buttons
- inventory
- guilds
- etc. :)

This would also help when working on new features – we could

[2022-08-18 08:56] ramnes opened #75 "Copy-pasting chunks of a level"
When editing a level, a big pain is that you can't create something and replicate it.

For example, if I'm building conference rooms and want three of these, I have to build every single conference room; it would be much nicer if I could create one and then copy-paste it.

[2022-08-18 09:02] ramnes opened #76 "Tiled TMX files support"
[Tiled](https://www.mapeditor.org/) is a popular and very complete 2D editor that would speed up the creation of new maps.

The TMX file format is also fairly standard now, and some people have already made some maps open-source. Support for these files would help foster an open-source ecosystem around lemverse and other virtual office platforms!

In that sense, exporting existing levels made with

[2022-08-18 09:06] ramnes opened #77 "Implement zoom on mobile"
It's currently impossible to zoom on mobile (or, for our purposes, to dezoom). "Pinch to zoom" or a zoom slider would be two great features.

[2022-08-18 09:18] ramnes opened #78 "Everyone spawns at the same place"
When a lot of people are joining a level at the same time, it's quite disturbing that everyone spawns at the same place. That's especially true for newcomers: they arrive in a very crowded place, sometimes without even seeing their own character, and that doesn't help when they have to figure out what to do.

I see two ways of avoiding this issue. The first one would be to simply add a radius and

[2022-08-18 09:21] ramnes opened #79 "Implement Sentry"
[Sentry](https://sentry.io/) is quite the defacto standard for error reporting and application monitoring these days. It would be great if lemverse could connect to a Sentry instance and give a bit of feedback to administrators.

[2022-08-18 09:40] ramnes opened #80 "Levels can take a long time to load"
We are seeing some levels that take something like 20+ seconds to load on a 2021 M1 MacBook Air (Chrome).

It doesn't happen on empty levels. It seems that the more tiles a level has, the longer it takes to load, which makes sense. What I don't explain is why it takes so much time to load on our instance when other levels with as many tiles on app.lemverse.com seem to load very fast.

The issue se

[2022-08-18 10:14] ramnes opened #81 "Reporting bad behaviors"
Some people may behave poorly in a public lemverse level. It would be nice if anyone could report these bad behavior to level admins, and eventually get the option to block the misbehaving user.

[2022-08-18 10:19] Donorhan commented on #78
I really like the idea of spawn zones, it would allow to define one or more zones and several positions in this zone  👍🏻

The idea would be to create an attribute on a zone to indicate that it is a spawn zone. Then at the spawn, if a spawn zone exists use it, otherwise use the attribute "spawnPosition" of the level while waiting for a futur migration.

[2022-08-18 10:21] Donorhan commented on #77
It seems to me that this is related to the fact that Phaser doesn't handle pinch very well and that on the Mac pinch applies an operating system zoom rather than a camera zoom

[2022-08-18 10:22] ramnes opened #82 "Incorrect tiles being placed"
https://user-images.githubusercontent.com/835072/185372791-573069a9-3012-4011-98c7-9dc1b5328693.mov

[2022-08-18 10:24] ramnes commented on #77
I'm sure we can still find something to implement for mobile users!

[2022-08-18 10:34] Donorhan commented on #80
I've been looking for solutions to this problem quite a bit. The problem comes mainly from the Tiles collection.

Each cell is a Tile document, a level has by default 8 layers and per layer 100x100 cells. This makes a maximum synchronization of 80000 documents to load, even if a level of 100x100 has on average 16000 documents, it is already huge.

**The solutions I have in mind:**

###  Change the

[2022-08-18 10:39] Donorhan commented on #82
This bug is present when your tileset has the same firstgid as another tileset.

I've seen that when uploading a tileset we set the attribut `firstgid` according the previous tileset `firstgid`. The upload of a tileset is asynchronous so I think the server must assign a wrong firstgid when several images are dragged at the same time, a race condition problem I think

[2022-08-18 11:27] ste-mae commented on #80
Supreme leader Dono, this sound like an elegant solution.

Am a lemverse power user with a macbook 16 inch that’s good to bbq on when
I use lemverse on my laptop whilst not being plugged in.

Drains battery like crazy to. So much so we started to use it less cause we
have to protect our remaining batteries when not plugged in for a longer
period of time.

Thanks for fixing this guys. So love your

[2022-08-19 10:00] ramnes commented on #76
I'm just seeing that [Tiled can export maps as JSON](https://doc.mapeditor.org/en/stable/reference/json-map-format/) as well, and that Phaser supports these JSON maps natively with its [`tilemapTiledJSON` loader method](https://newdocs.phaser.io/docs/3.54.0/Phaser.Loader.LoaderPlugin#tilemapTiledJSON)!

@Donorhan That could be a much simpler alternative to what you're proposing in #80. The JSON wo

[2022-08-19 10:10] Donorhan commented on #76
Indeed it could be interesting, the difficulty will be to link the tilesets from the TMX to the ones we have in the database (Tiled tileset > Tileset._id). But you may be thinking of loading a map outside the DB, in which case there would be a lot of things to change

[2022-08-19 10:10] ramnes opened #84 "The loading page kicks in quite late"
While the assets are being downloaded, there is a black blank page, and the loading page only comes afterwards. It would probably be nicer if the loading page came as early as possible, especially for those with a weak connection. :)

[2022-08-19 13:45] Donorhan commented on #74
There is `lp.isLemverseBeta('myBetaFlag')` to set flags on users, isn't that enough?

[2022-08-19 13:46] Donorhan commented on #70
Have you tried to restart your instance after the settings file has been modified? Are you sure your user_id is the right one in the settings file?

[2022-08-19 13:54] Donorhan commented on #84
I tried a few things but the current loading system is a mess because many things depend on each other 😕

The steps that should be followed:
- Load phaser and default scenes (world, boot, editor, ui) to show the loading screen immediatly
- Remove the loading of the assets present in the preload function of the boot scene
- Wait for the initialization of the scenes
- Subscribe to Tilesets and Chara

[2022-08-19 14:09] ramnes commented on #74
That works for new features but not the existing ones. We can't disable the chat that way, for example. :)

[2022-08-21 20:46] romainvalluy commented on #70
Use the last version of lemverse.
I did :
docker restart
 docker image / volume/ container (of lemverse)  rm

checked that it is my good user ID in the good settings.json

before writting here ;-)

And i got this message about being god to be allowed to use the character editor, althought i am an editor too.

[2022-08-23 15:17] alimtunc commented on #82
Hi Dono, you were right. The problem comes from the `gid` setted on `files.js -> line 36`. The asynchronous insert, breaking this `maxTilesetGid` logic and setting the same gid for some tilesets.

The solution would be to make the upload synchronously to not miss the last gid. But maybe we could generate this gid ? I don't really get it for you using it, as I see you using it for iterations at som

[2022-08-23 15:29] Donorhan commented on #82
This is useful for Phaser to know which tileset it should use, for example if we have :
- Tileset A : gid = 0
- Tileset B : gid = 10000
- Tileset C : gid = 20000

If we want to draw a tile with id 15000, Phaser knows that it must use tileset B.

From what I saw in Phaser's code, it generates a huge array from 0 to max gid + tileset's tile count, so it's hard to generate automatically. The current

[2022-08-24 08:39] alimtunc commented on #82
What do you think by this solution @Donorhan :
 - Uploading all files asynchronously but not inserting the Tiles directly
 - Fetching `fileRefs` with an event like `afterAllUpload`
 - Iterate this array of `fileRefs` and insert synchronously the Tiles, while saving the `gid` to iterate

This is the only way I see to keep the last `gid` that we can Iterate

[2022-08-24 13:15] Donorhan commented on #78
Added in the commit https://github.com/l3mpire/lemverse/commit/ec36e81c9c030ac6247fb933152ec1adf628d581. It is also possible to define several spawn zones 🙂

[2022-08-24 13:15] #78 closed

[2022-08-24 13:25] alimtunc commented on #78
I've just started to look on this today, aha nice if you did it faster, gj 💯

[2022-08-24 13:34] Donorhan commented on #78
Damn I should have tagged myself on the issue, sorry!

[2022-08-24 13:37] Donorhan commented on #82
@alimtunc By Tiles you mean Tileset? Sounds good to me 🙂

[2022-08-24 14:56] alimtunc commented on #82
I founded a better solutions while keeping all asynchronously !

If you wanna check it, you can here https://github.com/Refty/lemverse/pull/7/files

I'm just adding the `gid` on the files and getting it back with the fileref while inserting tilesets

![Capture d’écran 2022-08-24 à 16 45 55](https://user-images.githubusercontent.com/18298759/186448978-98ca9881-8852-4d9c-b911-a07eab6136d0.png)

[2022-08-25 06:38] #70 closed

[2022-08-25 06:38] romainvalluy commented on #70
the active settings where in the docker file...  ;-)  Now its fixed!

[2022-08-26 13:50] alimtunc commented on #77
I've just found a plugin that could help for the pinch zoom made by rexrainbow : https://phaser.discourse.group/t/using-multitouch-for-pinch-to-zoom/243/2

But I don't see any plugin implementation like this in the project : https://rexrainbow.github.io/phaser3-rex-notes/docs/site/gesture-pinch/?h=pinch

Is it a bad practice or a personal choice or just maybe never needed using an external plugin

[2022-08-29 06:39] Donorhan commented on #77
This plugin sounds great to me. We never needed plugins until now that's why we don't use them currently 🙂

[2022-08-29 08:06] ramnes commented on #78
Very nice, thanks @Donorhan!

IMHO `Math.random()` is perfect for this kind of use case, we have no need for a high level of entropy.

Let's talk on Discord as to how we can collaborate better, e.g. so that we don't work simultaneously on something. :P

[2022-08-30 08:04] #82 closed

[2022-08-30 08:36] #73 closed

[2022-08-30 14:03] ramnes opened #91 "Broken UI on mobile"
I was trying to logout, but it seems that most of these buttons simply do not work on mobile:

<img width="825" alt="image" src="https://user-images.githubusercontent.com/835072/187457748-b4c15608-bd7f-4ee4-b9fa-4f4cf0bc71ff.png">

[2022-08-31 09:54] ramnes opened #96 "Uncentered communication circle"
When a user dezooms, at some point communication circles are off:

From Louis' perspective:
![image](https://user-images.githubusercontent.com/835072/187651690-3db17441-82db-445f-ac53-23e03f1bdff6.png)

From Guillaume's perspective:
![image](https://user-images.githubusercontent.com/835072/187651712-11796fa4-4b4d-493b-bf16-5155e8c05116.png)

[2022-08-31 10:15] ramnes commented on #80
We found a workaround by giving more CPU to lemverse, which appeared to be the bottleneck here. It seems that a user loading a level is very CPU-intensive for lemverse on the server-side, and that's the real issue to fix.

[2022-09-01 07:17] Donorhan commented on #96
I can take care of it, I was planning to redo this circle management logic and eventually improve it visually

[2022-09-01 07:18] Donorhan commented on #91
It should be fine now 🙂

[2022-09-01 07:18] #91 closed

[2022-09-01 07:21] Donorhan commented on #80
It's probably related to tile synchronization which requires a constant link between the client and the server 😢. I think that removing the subscribe to tiles and managing the edition with simple events out of observe Meteor would fix the problem for both client and server

[2022-09-01 10:09] ramnes commented on #96
awesome :)

[2022-09-01 10:35] ramnes opened #98 "UI isn't responsive"
![Screenshot_20220901-122058](https://user-images.githubusercontent.com/835072/187894268-88d217b7-e69c-449c-9dc2-5fa046872858.jpg)
![Screenshot_20220901-122757](https://user-images.githubusercontent.com/835072/187894273-e0b2d454-2f70-47eb-9df4-b9be0578b806.jpg)
![Screenshot_20220901-122804](https://user-images.githubusercontent.com/835072/187894275-adc7b65c-11ee-4556-8419-828e02aa6edf.jpg)

[2022-09-01 10:36] ramnes commented on #91
Yes it is, but then #98 :D

[2022-09-02 11:35] YglesEyes commented on #67
navigator.mediaDevice.ondevicechange is not triggered when a bluetooth device is connected/disconnected.

[2022-09-05 11:51] #67 closed

[2022-09-05 15:06] #77 closed

[2022-09-06 07:05] #96 closed

[2022-09-08 11:38] #79 closed

[2022-09-13 13:56] YglesEyes commented on #98
https://user-images.githubusercontent.com/1770341/189920229-d2d16d36-770c-4984-9d1f-41c78e4acc6c.mp4

[2022-09-14 08:42] #98 closed

[2022-09-14 11:50] YglesEyes opened #120 "Cannot close modal on mobile"
On a real device the browser url bar hide the top of the modal, the browser footer hide the bottom of the modal

![Screenshot_20220914-134802](https://user-images.githubusercontent.com/1770341/190145980-ce5aafdd-2270-422b-83c2-a232a822f1b7.png)

[2022-09-15 08:41] ramnes opened #126 "Rationalize settings template helpers"
Let's remove all the helpers that looks like this

[code]

and replace them in Blaze files with the `settings` helper that's defined in `app/packages/lempire/lempire-helpers.js`:

https://github.com/l3mpire/lemverse/blob/cf70039679d74fd4fc4ee17fcdabf1e1f25807f2/app/packages/lempire/lempire-helpers.js#L35

Continuation of #124

[2022-09-16 09:25] ramnes opened #129 "Point and click"
That would be nice if users that prefer using their mouse than their keyboard could point and click to move their character. :)

[2022-09-16 09:31] ramnes opened #130 "Embedded pages improvements"
Two major improvements I'm staring at:
- [ ] Make the embed frame resizable
- [ ] Split horizontally when the screen is vertical (e.g. mobile)

[2022-09-16 09:34] ramnes commented on #75
I've just realized that you can copy a 1x1 chunk with shift-click! So we just need to add the support for long clicks, that would select a zone while shift stay pressed. :)

[2022-09-20 09:06] Flowtter opened #131 "Meteor settings public is undefined"
We noticed that under a lot of stress on the CPU, users could not connect anymore.
In the function `restrictedRegistration` of the file `form-account.js`, the variable `const { permissions } = Meteor.settings.public;` is undefined.
The function then tries to access the field `allowAccountCreation`, crashes and the user can't connect since it `cannot read property 'allowAccountCreation' of undefine

[2022-09-20 14:25] ramnes commented on #131
For now we're digging for the root cause but we'll provide step-by-step instructions if we can't fix it by ourselves. :)

[2022-09-22 19:23] ramnes opened #133 "Guests can be hovered"
I guess this shouldn't happen:

![Screenshot from 2022-09-22 19-21-52](https://user-images.githubusercontent.com/835072/191833468-832b1bee-8f35-4c50-90dd-51b2a23f646f.png)

(plus it breaks the chat and show an empty user profile)

[2022-09-22 19:28] ramnes commented on #133
Uh right, this has been fixed in 2447f5110cec5998659e7b3dd5794f5e4742de44, nice!

[2022-09-22 19:28] #133 closed

[2022-10-03 08:24] Yadvendra016 commented on #130
Please assign me I want to work on this

[2022-10-04 08:55] ramnes commented on #131
Closing as we're most likely not going to fix this independently. It's a side effect of a more general problem (namely #80).

[2022-10-04 08:55] #131 closed

[2022-10-05 14:47] Flowtter opened #151 "Some files do not respect the linter"
Some files do not respect the current linter configuration. [example](
https://github.com/l3mpire/lemverse/blob/19a80c88c939892a865bc2f82d0182ec944c8e66/core/client/scenes/scene-editor.js#L114)

I'm thinking about making a PR with all the fixes, but that might create a lot of merge conflicts in the pending pull requests.

Would you allow us to lint correctly the files we're editing in our pull req

[2022-10-06 15:32] bgiarrizzo opened #155 "Missing HelmChart for kubernetes deployment"
The only deployment method available is the docker-compose.yml that is provided in this repo.

Will helmchart be provided in the future ?

[2022-10-07 12:27] alimtunc commented on #74
https://github.com/l3mpire/lemverse/pull/139

[2022-10-07 12:28] alimtunc commented on #129
On it

[2022-10-07 12:57] ramnes commented on #155
PR welcome I guess :)

[2022-10-07 14:08] alimtunc opened #157 "System of announcement"
It would be great if we can send an announcement and having a toaster on top of right or left.

[2022-10-07 14:09] alimtunc commented on #157
I'm on it

[2022-10-07 20:20] bgiarrizzo commented on #155
Great !

I'm working on it, PR to come next week or the week after 🙂

[2022-10-10 08:25] ramnes commented on #155
Cool! Don't hesitate if you have any question. At @Refty we don't use Helm but we do run lemverse on Kubernetes so we probably can help. :)

[2022-10-10 08:27] ramnes commented on #130
Are you still willing to work on this @Yadvendra016? If so, do you have any idea when? I don't mean to push you, just to get some visibility on our side. :)

[2022-10-10 10:32] Flowtter commented on #81
Can you assign me to this ?

[2022-10-11 14:23] YglesEyes commented on #37
Closed because already implemented by Editor => Zones => accessRestrictedToGuild

[2022-10-11 14:23] #37 closed

[2022-10-12 09:59] Raamyy opened #165 "Make website in profile popup clickable link"
If the user configured a valid website link, then convert this label into a clickable anchor element.

![image](https://user-images.githubusercontent.com/29176293/195312803-a92b1600-2499-4205-8e25-20a1ffd93f74.png)

I would like to work on it!

[2022-10-14 00:27] Raamyy opened #167 "Play random punch sounds"
We can add more punch sounds and When `X` is pressed, a random sound is picked and played.

This is inspired by the hidden _HADOUKEN_ sound in the assets 😆

[2022-10-14 06:49] YglesEyes opened #168 "Guest doesn't displayed"
The "ghost" skin is not display when user spawn on the map

[2022-10-14 14:25] Raamyy commented on #167
@ramnes Can you advice where to get another punch sounds?

I read that you use Itch.io assets, Am I free to pick from them?

[2022-10-15 14:09] Raamyy opened #169 "[Bug] No scroll for media settings"
Some media settings are hidden when the camera preview shows up.

A scroll bar should reveal these settings.

![image](https://user-images.githubusercontent.com/29176293/195990941-1b92c524-873e-4e4b-809d-81b04fefb840.png)

I will work on it 👍

[2022-10-17 12:40] #165 closed

[2022-10-17 12:41] #169 closed

[2022-10-17 12:52] ramnes commented on #167
No idea where the current punch sounds come from, maybe @Donorhan knows?

[2022-10-17 13:08] Donorhan commented on #167
I didn't develop the punch so I don't have the origin of the sound but I think it comes from [freesound.org](https://freesound.org/search/?q=punch). This is a good website to get royalty free sounds 🙂.

A technique very often used in games is to keep the same sound but play it with different audio pitch in a random way, an article about this [exists here](https://www.reddit.com/r/gamedev/comments/

[2022-10-17 15:53] #126 closed

[2022-10-19 07:57] #167 closed

[2022-10-20 15:39] ramnes commented on #157
#176 kinda solves this

[2022-10-20 15:39] #157 closed

[2022-10-21 12:34] Kashif1231 opened #180 "entity editor not working"
I went to the editor page and when dropping a json file on the entity page it does not work is it broken or thats not how it works?

[2022-10-24 08:01] Flowtter commented on #180
The entity editor requires the beta-flag `custom-sprite`.
I'm currently working on a [pull request](https://github.com/l3mpire/lemverse/pull/164) to improve it.

[2022-10-25 14:50] Donorhan opened #187 "Show system notifications only when the user is subscribed or targeted by a notification"
At the moment, every time you receive a notification you get a system notification even if you are not subscribed to a channel.

If the notification concerns a zone, it should be checked that the user is subscribed to this channel before generating a system notification.

The bug/verification to do is probably here: https://github.com/l3mpire/lemverse/blob/master/core/client/lemverse.js#L114

[2022-10-26 09:57] ramnes commented on #74
#161 started to implement a new features configuration model in the settings:

[code]

It covers most cases but now we have a lot of things to refactor to follow that model. :)

[2022-10-28 08:32] alimtunc opened #192 "Possibility to ban/kick temporary"
Actually the kick feature is not really performant. I suggest to add something wich will really kick the user from lemverse and a temporary ban system, it should be really cool.

I will dig on that :)

[2022-10-28 12:13] Flowtter commented on #192
Maybe it could extends the report pull request.
https://github.com/l3mpire/lemverse/pull/163

[2022-10-28 12:48] alimtunc commented on #192
Oh yes, didn't see your PR

[2022-11-04 11:30] Kashif1231 commented on #180
can you please give details or guide how to add entities from a json file

[2022-11-07 13:29] ramnes commented on #180
There's already some information available in the README, is there anything in particular that you would like more details on? https://github.com/l3mpire/lemverse#entity-edit

[2022-11-09 15:00] thomasfaure opened #204 "How to activate the custom oauth login button?"
Hello, I configured the settings.json with a custom authentication button, but it has no effect. How to activate this configuration?

[2022-11-11 15:37] ramnes commented on #204
It has been implemented in #46 and #47, so it might be worth summoning @alizarion – can you help?

[2022-11-14 12:26] alizarion commented on #204
hi @thomasfaure, which lemverse release are you using? I just tested with the latest on docker hub and it seems to work
can you give us more details?
does the buttons appear on the login section?
![Capture d’écran 2022-11-14 à 13 20 44](https://user-images.githubusercontent.com/4605295/201659658-84430ccf-8c69-4401-bcab-02f0b6ef43ac.png)

[2022-11-14 13:58] thomasfaure commented on #204
I deployed the master version (1b11733ba888b5905b724241ff6a73c3f104a2bb), but I don't see the custom buttons which are well configured in the settings file

[2022-11-14 15:08] alizarion commented on #204
can you share your configuration? buttons can be hidden can you try to add  "hidden": false

[2022-11-14 15:54] thomasfaure commented on #204
Yes, here is an extract of the configuration:

`"packages": {
      "service-configuration": {
        "custom": {
          "buttonBackgroundColor": "#ea4335",
          "buttonTextColor": "white",
          "clientId": "lemverse",
          "type": "oauth",
          "custom": true,
          "hidden": false,
          "secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
          "authUrl": "https://

[2022-11-16 10:30] alizarion commented on #204
@thomasfaure sorry for late answer, it's your own build or official lemverse docker image ?
i think your configuration file or env is not parsed correctly ...
can you try this in chrome console

      ServiceConfiguration.configurations.find()
		      .observe({
			      added(record) {
				      console.log(record);

			      },
		      });

[2022-11-16 12:09] Kashif1231 commented on #180
how to add a custom entity in the universe .In reflection of the docs I can only find the entity edit tutorial and it seems confusing in case of adding a custom entity

[2022-11-16 15:16] ramnes commented on #180
In the editor menu, click "Create new prefab", then "Browse the prefabs catalog":

<img width="351" alt="image" src="https://user-images.githubusercontent.com/835072/202215592-3bf7ad21-4e04-4ac9-997d-4ba296d87287.png">

Click on the edit button (the pencil) for "New prefab":

<img width="791" alt="image" src="https://user-images.githubusercontent.com/835072/202219523-c4547f7a-2c4a-48a4-8fa5-c92a92

[2022-11-16 15:20] Kashif1231 commented on #180
![image](https://user-images.githubusercontent.com/116358828/202220592-3b2ad28d-8dd0-47d0-af55-2859ab950443.png)
its showing up empty for me

[2022-11-16 17:09] ramnes commented on #180
Which version are you using? Or are you on app.lemverse.com? If so, you should ask @l3mpire lads to deploy 1b11733ba888b5905b724241ff6a73c3f104a2bb :)

[2022-11-21 10:19] thomasfaure commented on #204
@alizarion

Here is the screenshot of the answer, I don't know if it can help.

![image](https://user-images.githubusercontent.com/4790431/203025532-8dc9a2ed-d200-40af-bc5f-0b44edc832f6.png)

[2022-11-21 10:29] alizarion commented on #204
@thomasfaure I think the second line of the query is ignored because of the copy paste :)
you should see something like this
![Capture d’écran 2022-11-21 à 11 28 08](https://user-images.githubusercontent.com/4605295/203027594-2a4ffb6a-f811-40e3-8955-fbc5070308be.png)

[2022-11-21 10:47] alizarion commented on #204
if no records it means your configuration is ignored

[2022-11-21 10:57] thomasfaure commented on #204
yes, which makes sense since I don't see a custom button.

Do you know why it is ignored?

Two things:

the "packages" scope is not in "public" :

![image](https://user-images.githubusercontent.com/4790431/203033295-457e39d4-a620-4f65-81c4-54d0b81e6028.png)

and the "packages" scope is inside a "peer" scope:

![image](https://user-images.githubusercontent.com/4790431/203033250-6a288e90-7fb9-4e6f-9

[2022-11-21 11:21] thomasfaure commented on #204
@alizarion it's better now :)

![image](https://user-images.githubusercontent.com/4790431/203038061-4ff1d650-9215-414a-8bd1-f28b211bfa64.png)

[2022-11-21 11:21] #204 closed